
     <div class="page_profile_back">
          {{{button}}}
     </div>
     <div class="page_profile_view">
          {{{avatar}}}
          <h3 class="profile_user_name">Вадим</h3>
          {{{profileForm}}}       
     </div>
