<div>
     <form class="form_signin">
      <input
        type="email"
        id="email"
        pattern=".+@globex.com"
        size="30"
        required
      />
      <input type="text" />
      {{> button label="Войти"}}
    </form>
</div>