<div class="container">
    <h2 class="form_title">Войти</h2>
    <fieldset class="form_fieldset">
    <label for="login">Логин</label>
    {{{login}}}
    <label for="password">Пароль</label>
    {{{password}}}
    </fieldset>
        
    {{{button}}}
    {{{link}}}
</div>

