<div>
     main
     <nav>
          <a href="/login" onclick="route()">Login</a>
          <a href="/signin" onclick="route()">Sigin</a>
          <a href="/profile" onclick="route()">Profile</a>
     </nav>
</div>