<main class="page_main">
     <nav class="page_main_nav">
          <a href="/login" onclick="route()">Login</a>
          <a href="/signin" onclick="route()">Signin</a>
          <a href="/profile" onclick="route()">Profile</a>
     </nav>
     <div class="chat">
          <aside class="chat_sidebar">
               <div class="chat_top">
                    {{> link label="Профиль" class="chat_profile_link" href="/profile"}}
                    {{> input type="search" name="message" id="chat_search" placeholder="search" isSearchInput=true}}
               </div>
               <div class="chat_items_list">
                    {{> chatItem}}
                    {{> chatItem}}
                    {{> chatItem}}
                    {{> chatItem}}
                    {{> chatItem}}
                    {{> chatItem}}
                    {{> chatItem}}
                    {{> chatItem}}
                    {{> chatItem}}
               </div>
          </aside>
          <section class="chat_place">
               <div class="chat_place_top">
                    <div class="chat_user">
                         {{> avatar}}
                         <p class="chat_user_name">Вадим</p>
                    </div>
                    <span class="chat_menu">{{> button isMenuButton=true}}</span>
               </div>
               <div class="chat_place_middle"></div>
               <div class="chat_place_bottom">
                    <div class="chat_attachment">
                         {{> button isAttachButton=true}}
                         <div class="chat_attachment_choice">
                              <div class="chat_attachment_type"><span><i class="fa fa-file-image" aria-hidden="true"></i></span><span>Фото или Видео</span></div>
                              <div class="chat_attachment_type"><span><i class="fa fa-file" aria-hidden="true"></i></span><span>Файл</span></div>
                              <div class="chat_attachment_type"><span><i class="fa fa-location-arrow" aria-hidden="true"></i></span><span>Локация</span></div>
                         </div>
                    </div>
                    <div class="chat_message_input">
                         {{> input type="text" name="message" id="chat_message" placeholder="message" isMessageInput=true}}
                    </div>
                    <div class="chat_send">
                         {{> button isSendButton=true}}
                    </div>
               </div>
          </section>
     </div>
</main>
