.page_main {
    width: 100%;
    height: 100vh;

    .page_main_nav {
        height: 5%;

        ul {
            list-style: none;
            display: flex;
        }

        ul li {
            margin-right: 1rem;
        }
    }

    .chat {
        display: flex;
        width: 100%;
        height: 95%;
    }

    .chat_sidebar {
        width: 30%;
        height: 100%;
        border-right: 1px solid @primary-color;

        .chat_top {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 15%;
            background-color: @background-color-light;
            padding: 0.5rem;
            border-bottom: 1px solid @primary-color;
        }

        .chat_items_list {
            height: 85%;
            overflow-y: scroll;
        }
        .chat_items_list::-webkit-scrollbar{
            display: none;
        }
    }
    
    .chat_place {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 70%;

        .chat_place_top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10%;
            width: 100%;
            padding: 0.5rem 1.5rem;
            border-bottom: 1px solid @primary-color;
            background-color: @background-color-light;

            .avatar {
                margin-right: 1rem;
            }

            .avatar:hover::after {
                display: block;
                cursor: pointer;
            }
    
            .avatar::after {
                display: none;
                content: 'Изменить';
                z-index: 10;
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: gray;
                overflow: hidden;
                text-align: center;
                font-size: 0.7rem;
                line-height: 50px;
                top: 0;
            }

            .chat_users {
                display: flex;
                list-style: none;
            }
        }
        .chat_place_middle {
            height: 80%;
            overflow-y: scroll;
        }
        .chat_place_middle::-webkit-scrollbar{
            display: none;
        }
        .chat_place_bottom {
            display: flex;
            justify-content: space-between;
            height: 10%;
            width: 100%;
            padding: 0.5rem;
            background-color: @background-color-light;
            border-top: 1px solid @primary-color;
            

            .chat_attachment,.chat_send {
                width: 10%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .chat_attachment, .chat_menu {
                position: relative;
            }

            .chat_message_input {
                width: 100%;

                fragment {
                    width: 100%;
                    display: flex;
                    align-items: center;
                }
            }

        }
    }
}
