{{#if isLoginForm}}
  <form class="form form_login">
      <h2 class="form_title">Войти</h2>
      <fieldset class="form_fieldset">
        <label for="email">Логин</label>
        {{> input type="text" name="login" id="login" placeholder="enter login" required=true isFormInput=true}}
        <label for="password">Пароль</label>
        {{> input type="text" name="password" id="password" placeholder="enter password" required=true isFormInput=true}}
        </fieldset>
        {{> button label="Войти" type="submit" isFormButton=true}}
        {{>link label="Нет аккаунта?" href="/signin"}}
    </form>
{{else if isSigninForm}}
  <form class="form form_signin">
      <h2 class="form_title">Регистрация</h2>
      <fieldset class="form_fieldset">
        <label for="email">Почта</label>
        {{> input type="email" name="email" id="email" placeholder="enter email" required=true isFormInput=true}}
        <label for="login">Логин</label>
        {{> input type="text" name="login" id="login" placeholder="enter login" required=true isFormInput=true}}
        <label for="first_name">Имя</label>
        {{> input type="text" name="first_name" id="first_name" placeholder="enter first name" required=true isFormInput=true}}
        <label for="last_name">Фамилия</label>
        {{> input type="text" name="second_name" id="second_name" placeholder="enter last name" required=true isFormInput=true}}
        <label for="tel">Телефон</label>
        {{> input type="tel" name="phone" id="phone" placeholder="+7 (900) 111 22 33" required=true isFormInput=true}}
        <label for="password">Пароль</label>
        {{> input type="password" name="password" id="password" placeholder="enter password" required=true isFormInput=true}}
        <label for="repeat_password">Пароль еще раз</label>
        {{> input type="password" name="password" id="repeat_password" placeholder="repeat password" required=true isFormInput=true}}
      </fieldset>
      
      {{> button label="Зарегистрироваться" type="submit" isFormButton=true}}
      {{>link label="Войти" href="/login"}}
    </form>
{{/if}}