<main class="page_profile">
     <div class="page_profile_back">
          {{> button isBackButton=true}}
     </div>
     <div class="page_profile_view">
          {{> avatar}}
          <h3 class="profile_user_name">Вадим</h3>
          {{> profile_form isProfileChange=true}}        
     </div>
</main>
