<main class="page_profile">
     <div class="page_profile_back">
          {{> button isBackButton=true}}
     </div>
     <div class="page_profile_view">
          {{> avatar}}
          <h3 class="profile_user_name">Вадим</h3>
          {{> profile_form isProfileChange=true}}
          <div class="profile_change_avatar">
               <form class="profile_change_avatar_form">
                    <label for="avatar_change">Загрузите файл</label>
                    <span class="profile_change_avatar_button">Выбрать файл на компьютере</span>
                    {{> input type="file" name="avatar" id="avatar_change" placeholder="enter password" required=true isFileInput=true}}
                    {{> button isFormButton=true label="Поменять"}}
               </form>
          </div>        
     </div>
</main>
