<main class="page_profile">
     <div class="page_profile_back">
          {{> button isBackButton=true}}
     </div>
     <div class="page_profile_view">
          {{> avatar}}
          <p class="profile_user_name">Вадим</p>
          {{> profile_form isProfilePassword=true}}        
     </div>
</main>