//color variables
@primary-color:        #8DA1B9;
@primary-color-hover:  darken(@primary-color, 10%);
@text-color:        #023047;
@text-color-hover:  darken(@text-color, 10%);
@link-color:        #428bca;
@link-color-hover:  darken(@link-color, 10%);

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font: 'Lato', sans-serif;