<div>
     <form class="form_signin">
      <input
        type="email"
        id="email"
        pattern=".+@globex.com"
        size="30"
        required
      />
      <input type="text" />
      <input type="text" />
      <input type="text" />
      <input
        type="tel"
        id="phone"
        name="phone"
        placeholder="+7 (900) 111 22 33"
        pattern="(s*)?(+)?([- _():=+]?d[- _():=+]?){10,14}(s*)?"
        required
      />
      <input type="password" id="pass" name="password" minlength="8" required />
      <input type="password" id="pass" name="password" minlength="8" required />
      <button type="submit">Зарегистрироваться</button>
      {{> button label="click me!"}}
    </form>
</div>