{{#if isProfile}}
  <div class="profile">
          <div class="page_profile_data">
               <span>Почта</span>
               <span>pochta@yandex.ru</span>
          </div>
          <div class="page_profile_data">
               <span>Логин</span>
               <span>ivanov</span>
          </div>
          <div class="page_profile_data">
               <span>Имя</span>
               <span>Иван</span>
          </div>
          <div class="page_profile_data">
               <span>Фамилия</span>
               <span>Иванов</span>
          </div>
          <div class="page_profile_data">
               <span>Имя в чате</span>
               <span>Иван</span>
          </div>
      <div class="page_profile_data">
        <span>Телефон</span>
      <span>+7 (928) 777 66 55</span>
    </div>
    <p class="page_profile_link">{{> link label="Изменить данные" href="/change_profile"}}</p>
    <p class="page_profile_link">{{> link label="Изменить пароль" href="/change_password"}}</p>       
    <p class="page_profile_link">{{> link label="Выйти" href="/login"}}</p>         
  </div>
{{else if isProfileChange}}
  <form class="profile">
          <div class="page_profile_data">
               <span>Почта</span>
               <span>pochta@yandex.ru</span>
          </div>
          <div class="page_profile_data">
               <span>Логин</span>
               <span>ivanov</span>
          </div>
          <div class="page_profile_data">
               <span>Имя</span>
               <span>Иван</span>
          </div>
          <div class="page_profile_data">
               <span>Фамилия</span>
               <span>Иванов</span>
          </div>
          <div class="page_profile_data">
               <span>Имя в чате</span>
               <span>Иван</span>
          </div>
          <div class="page_profile_data">
              <span>Телефон</span>
              <span>+7 (928) 777 66 55</span>
          </div>
          {{> button label="Сохранить" type="submit" isFormButton=true}}
  </form>
{{else if isProfilePassword}}
  <form class="profile">
          <div class="page_profile_data">
               <span>Старый пароль</span>
               <span>pochta@yandex.ru</span>
          </div>
          <div class="page_profile_data">
               <span>Новый пароль</span>
               <span>ivanov</span>
          </div>
          <div class="page_profile_data">
               <span>Повторите новый пароль</span>
               <span>Иван</span>
          </div>
          {{> button label="Сохранить" type="submit" isFormButton=true}}
  </form>

{{/if}}