
    <div class="chat_item_left">{{{avatar}}}</div>
    <div class="chat_item_center">
        <h4 class="chat_item_sender">{{sender}}</h4>
        <p>{{text}}</p>
    </div>
    <div class="chat_item_right">
        <span>{{time}}</span>
       <span class="chat_item_unread">1</span>
    </div>
